[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include aux.cfg]
[include startup.cfg]
[include mixer_macro.cfg]
[include bath_macro.cfg]
[include thermal_aux.cfg]
[include actuator.cfg]
[include klipper_functions.cfg]
[include config_backup.cfg]
[include update_klipper.cfg]


[mcu]
serial: /dev/ttyACM0
baud: 250000
restart_method: command


[mcu B]
serial: /dev/ttyACM1
baud: 250000
restart_method: command


[virtual_sdcard]
path: /home/rpi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000


[fan_generic mixer]
pin: PA2
max_power:1
shutdown_speed:0
cycle_time: 0.00005
hardware_pwm: true
kick_start_time: 0.001
#off_below:
tachometer_pin: PG6
tachometer_ppr: 40
tachometer_poll_interval: 0.0001
#enable_pin:
#   See the "fan" section for a description of the above parameters.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout:
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed:
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater:
#stepper:
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

#[output_pin mixer] # двигатель лопаток
#pin: PA1
#pwm:true
#hardware_pwm: true
#shutdown_value: 0
#value:0
#cycle_time: 0.002


[manual_stepper bath] #motor2 Выдвижение бани
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
velocity: 2
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200

[endstop_custom endstop_1]
pin: !PG11

[tmc2209 manual_stepper bath] #motor2 
uart_pin: PC6
interpolate: true
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0



[manual_stepper sampling] #motor2 Отборные каретки
step_pin: B:PF11
dir_pin: !B:PG3
enable_pin: !B:PG5
velocity: 2
microsteps: 16
endstop_pin: B:PG15
rotation_distance: 8
full_steps_per_rotation: 200
position_endstop: 0
homing_speed: 3

[tmc2209 manual_stepper sampling] #motor2 
uart_pin: B:PC6
interpolate: true
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

